[Unit]
Description=BoltPocket Celery Beat Scheduler
After=network.target redis.service postgresql.service

[Service]
Type=simple
User=boltpocket
WorkingDirectory=/home/boltpocket
ExecStart=/home/boltpocket/venv/bin/celery -A boltpocket beat -l info --schedule /home/boltpocket/celerybeat-schedule
ExecStopPost=/bin/rm -f /home/boltpocket/celerybeat-schedule /home/boltpocket/celerybeat.pid
Restart=always
RestartSec=10
KillSignal=SIGTERM
TimeoutStopSec=15
Environment=DJANGO_SETTINGS_MODULE=boltpocket.settings

[Install]
WantedBy=multi-user.target
